body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contain{
    display: flex;
    background-image: -webkit-linear-gradient(120deg, #313131 50%,#4f5355 50%);
    background-image: -moz-linear-gradient(120deg, #313131 50%,#4f5355 50%);
    width: 100vw;
    height: 100vh;
}

.contain-form{
    display: flex;
    margin: auto;
    background-color: white;
    border: 5px solid rgb(228, 227, 227);
    border-radius: 3px;
    width: 60%;
    height: 85%;
   
}
.log{
    margin-left: 10%;
}

.img{
    height: 100%;
}


.login-form{
   margin-top: 4em; 
   margin-left: 4em;
}



.title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left:15px;
    font-size:xx-large ;
    text-decoration: solid;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

form{
    margin-left: 10%;
    margin-top: 0em;
    margin-block-end: 1em;
}

input{
    width: 100%;
    padding: 9px 7px;
    border-radius: 30px;
    box-sizing: border-box;
    border: 2px solid rgb(228, 227, 227);
    display: block;
    /* margin-right: 10%; */
    margin-top: 4px;
    margin-bottom: 21px;
    outline: none; 
    -moz-box-shadow:  1px 2px 0px 0px #ccc;
  -webkit-box-shadow: 1px 2px 0px 0px #ccc;
  box-shadow:         1px 2px 0px 0px #ccc;
}

input:hover{
    border: 2px solid rgb(175, 172, 172);   
}

label{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    color:rgb(92, 90, 90) ;
}

button{
        width: 100%;
        padding: 7px 19px;
        margin-top: 6 px;
        background-color: rgb(216, 137, 27);
        border-radius: 30px;
        border: 2px solid rgb(234, 147, 16);
        box-shadow:   1px 2px 0px 0px #ccc;
}

button:hover{
    background-color:rgba(216, 137, 27, 0.846);
    cursor: pointer;
    outline: none;
}

@media screen and (max-width: 800px){
    .contain{
        max-width: 100%;
    }
    .image-form{
        display: none;
    }

    .contain-form{
        width: 80%;
        height: 90%;
        max-height: 70%;
    }

    .log{
        margin-left: 0%;
    }

    .top{
        padding-left: 4%;
    }

    .login-form{
        margin-top: 0em; 
        margin-left: 1em;
     }
     

    
.title{
    padding-left:27px;
    font-size:larger ;
    text-decoration: solid;
}

input{
    padding: 10px 25px;
    margin-top: 4px;
    margin-bottom: 32px;  
}
    
   
}



