.bgn{
    background: radial-gradient(circle, #949090, #31b527);
    width: 100vw;
    background-size: cover;
}

@media screen and (max-width: 800px){
    .bgn{
        background-image: radial-gradient(circle, #949090, #31b527);
        width: 100vw;
    }
}